.home__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

    min-height: 100vh;
    width: 100%;

    gap: 5rem;
    padding: 5rem;

    background: var(--bg-color-primary);
}

.home__container__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

    gap: 3rem;
}

.home__container__profile > img {
    width: 22rem;
}

.home__container__profile__name {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    gap: 5rem;
}

.home__name__container {
    font-family: var(--ft-family-primary);
    color: var(--ft-color-secundary);
    width: 100%;

    line-height: 6rem;
}

.home__name__first {
    font-size: 3.2rem;
    font-weight: 500;
}

.home__name__last {
    font-size: 8rem;
    font-weight: 800;
}

.home__name__work {
    font-size: 2.2rem;
}

.download__button-cv-pdf {
    padding: 0 1rem;
    border-radius: .9rem;
    background-color: var(--ft-color-secundary);
}

.download__button-cv-pdf > a {
    color: var(--ft-color-primary);

    font-family: var(--ft-family-primary);
    font-size: 2.4rem;
    font-weight: 500;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    
    height: 6rem;
    width: 100%;
    max-width: 450px;
    padding: 0 1rem;

    text-decoration: none;
}

.download__button-cv-pdf > a svg {
    width: 3rem;
}

.home__container__social-medias {
    display: flex;
    justify-content: center;
    box-sizing: border-box;

    width: 100%;
    gap: 5rem;
    flex-wrap: wrap;
}

.home__container__social-medias a svg {
    height: 3rem;
    width: 3rem;
}

@media (min-width: 850px) {
    .home__container {
        justify-content: center;
        height: 100vh;
        gap: 20rem;
        padding: 10rem 5rem;
    }

    .home__container__profile {
        gap: 10rem;
        flex-direction: row-reverse;
    }

    .home__container__profile > img {
        width: 30rem;
    }

    .home__container__profile__name {
        height: 100%;
        justify-content: space-between;
    }

    .home__name__container {
        line-height: 8rem;
    }

    .home__name__first {
        font-size: 4.8rem;
        font-weight: 500;
        line-height: 7rem;
    }
    
    .home__name__last {
        font-size: 12rem;
        font-weight: 800;
    }
    
    .home__name__work {
        text-align: justify;
        font-size: 3.3rem;
    }
}