.skill__frontend__container {
    min-height: 100vh;
    width: 100%;

    background: var(--bg-color-primary);
}

.skill__frontend__container > div {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    height: 100%;
    width: 100%;
    max-width: 90rem;

    gap: 5rem;
    padding: 5rem;
    margin: 0 auto;

    font-family: var(--ft-family-primary);

    line-height: 3rem;

    color: var(--ft-color-secundary);
}

.skill__frontend__card__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    flex-wrap: wrap;

    gap: 3rem;
}


.skill__frontend__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 15rem;
    width: 20rem;
    padding: 1.6rem;
    gap: 1rem;

    text-align: center;

    border-radius: .9rem;

    background-color: var(--ft-color-secundary);
    color: var(--ft-color-primary);
}

.skill__frontend__card img {
    width: 4rem;
}

.skill__frontend__card p {
    font-size: 2rem;
    font-weight: 800;
    width: 100%;
}

@media (min-width: 850px) {  
    .skill__frontend__card__container {
        justify-content: start;
    }
}